/* Mocha Mauve */
@define-color accent #cba6f7;
@define-color txt #cad3f5;
@define-color bg #24273a;
@define-color bg2 #494d64;

 * {
    font-family: 'Ubuntu Nerd Font';
    font-size: 14px;
 }

 /* Window */
 window {
    margin: 0px;
    padding: 10px;
    border: 2px solid @accent;
    border-radius: 7px;
    background-color: @bg;
    animation: slideIn ease-in-out both;
 }

 /* Slide In */
 @keyframes slideIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 0.95;
    }
 }

 /* Inner Box */
 #inner-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
    animation: fadeIn ease-in-out both;
 }

 /* Fade In */
 @keyframes fadeIn {
    0% {
       opacity: 0;
    }

    100% {
       opacity: 0.95;
    }
 }

 /* Outer Box */
 #outer-box {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: @bg;
 }

 /* Scroll */
 #scroll {
    margin: 0px;
    padding: 5px;
    border: none;
 }

 /* Input */
 #input {
    margin: 5px;
    padding: 5px;
    border: none;
    color: @accent;
    background-color: @bg2;
    animation: fadeIn ease-in-out both;
 }

 /* Text */
 #text {
    margin: 5px;
    padding: 5px;
    border: none;
    color: @txt;
    animation: fadeIn ease-in-out both;
 }

 /* Selected Entry */
 #entry:selected {
   background-color: @accent;
 }

 #entry:selected #text {
    color: @bg;
 }
