* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font Light";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.95;
    border: none;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 5px;
    color: #313244;
    margin-right: 5px;
}

#workspaces button.active {
    color: #a6adc8;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #cdd6f4;
    border-radius: 10px;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-power_btn,
#window,
#cpu,
#disk,
#custom-updates,
#custom-cycle_wall,
#memory,
#clock,
#pulseaudio,
#bluetooth,
#network,
#tray,
#temperature,
#workspaces {
    background: #1e1e2e;
    opacity: 0.8;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 0px;
}

#tray  {
    border-radius: 10px 0px 0px 10px;
    margin-right: 10px;
}

#custom-lock_screen, #temperature, #custom-launch_wofi, #cpu {
    border-radius: 10px 0px 0px 10px;
}

#custom-power_btn, #workspaces, #pulseaudio.microphone, #disk {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#temperature.critical {
    color: #e92d4d;
}


#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#custom-launch_wofi {
    color: #89b4fa;
    margin-left: 10px;
    border-right: 0px;
}

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
}

#network {
    color: #89b4fa;
    margin-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    margin-left: 0px;
    border-right: 0px;
}
